spring:
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          url: jdbc:mysql://localhost:3306/windfarmdata?useSSL=false&serverTimezone=CST&allowPublicKeyRetrieval=true
          username: root
          password: 5728
          driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

# 定时任务配置（可选，根据需要调整）
